:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;    
}

/* Truco para uniformidad en textos entre navegadores */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.my-title {
    text-align: center;
    font-size: 3.8rem;
}

.my-title span {
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--secundario);
}



.navegacion-principal {
    background-color: var(--secundario);
    /* Flexbox define como alinear elementos */
    display: flex;
    justify-content: space-around;
    font-weight: bold; /* Negritas */
    font-size: 2rem;
}

/* Cuando pongo el cuersor encima del link */
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
    /* 
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    */
}

/* Tipografia */

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

.titulo span{
    font-size: 2rem;
}

.hero {
    background-image: url(../img/hero.jpg); /* para regresar un nivel de directorio ya que la carpeta "img" esta afuera de "CSS" */
    background-repeat: no-repeat; /* Sirve para evitar la repeticion de la imagen cuando es pequeña */
    background-size: cover; /* Sirve para cubrir la imagen con todo el tamaño */
    height: 450px; /* Manipular alto del elemento hero */
    position: relative; /* manipular posicion, el padre siempre debe de ser relative */
}

.contenido-hero {
    position:  absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2{
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: center;
    color: var(--blanco);
}

.ubicacion p {
    margin: 0;
}